*{
    background: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    border-radius: 30px;
}

p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    background: hsl(216, 50%, 16%);
    margin: 30px;
}

.card{
    width: 350px;
    margin: 30px auto;
    background: hsl(216, 50%, 16%);
}

.imgcon, .main-imgcon{
    background: hsl(216, 50%, 16%);
}

.main-img{
    background: hsl(216, 50%, 16%);
    border-radius: 20px;
    width: 82%;
    height: 50%;
    margin: 30px;
}

.main-img:hover{
    content: url("./images/icon-view.svg");
    position: relative;
    inset: 0;
    background: hsl(178, 100%, 50%);
    transition: all 0.9s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
}

.container, .image-left, .image-left img, .image-right, .image-right img, .text, .right-text, span{
    background: hsl(216, 50%, 16%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: between;
	/*flex-wrap: inherit;
	justify-content: space-between;*/
}

.image-left{
    margin-left: 30px;
}

.image-right{
    margin-left: 100px;
}

.text{
    color: #00FFF8;
    margin-left: 5px;
}

.right-text{
    color: hsl(215, 51%, 70%);
    margin-left: 5px;
}

.line{
    content: "";
    height: 1px;
    width: 85%;
    z-index: 2;
    background-color: hsl(215, 51%, 70%);
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 30px;
}

.white{
    color: hsl(0, 0%, 100%);
    background: hsl(216, 50%, 16%);
    font-size: x-large;
    margin-left: 30px;
    margin-bottom: 30px;
}


a {
    background: hsl(216, 50%, 16%);
}

span, a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

span:hover, .white:hover{
    color: #00FFF8;
    cursor: pointer;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.1rem solid white;
    margin-left: 30px;
}

.attribution { 
    font-size: 15px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: large;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    background: hsl(217, 54%, 11%);
}